@model IEnumerable<CVGS.ViewModels.CreditCardViewModel>

@{
    ViewData["Title"] = "Your Credit Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Credit Cards</h1>

<p>
    Here, you can manage your credit cards, which are used to pay for purchases.
</p>
<p>
    <a asp-action="Create">Add Credit Card</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Return to Account Management</a>
</p>

