@model IEnumerable<CVGS.Models.Review>

@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Game
            </th>
            <th>
               Username
            </th>
            <th>
                Review
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td class="max-word-length">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @{
                if (item.Recommended)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                if (item.Approved == null)
                {
                    <td>Unread</td>
                }
                else if (item.Approved == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $(".max-word-length").text(function (index, currentText) {
        if (currentText.length > 200) {
            currentText = currentText.substr(0, 200) + "...";
        }
        return currentText;
    });
</script>